<div class="mt-4">
   <form method="POST" action="">
        <div class="form-group">
            <label for="search_form">Nhập từ khóa</label>
            <input type="text" name="key_search" class="form-control" id="search_form" >  
        </div>
        <div class="form-group">
            <label for="select-form">Gioi tinh</label>
            <select name="gender" id="">
                <option value="gayless">Tuy chon</option>
                <option value="male">nam</option>
                <option value="female">nu</option>
            </select>
        </div>
    
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>